.inicioWiki{

    display:flex;

    flex-direction:column;

    gap:28px;

}

.heroInicio{

    text-align:center;

    padding:40px;

    background:#111;

    border:1px solid #3a3a3a;

    border-radius:10px;

}

.heroInicio img{

    width:320px;

    margin-bottom:20px;

}

.heroInicio h1{

    color:#ffffff;

    font-size:42px;

    margin-bottom:15px;

}

.heroInicio p{

    max-width:850px;

    margin:auto;

    color:#d0d0d0;

    line-height:1.8;

}

.gridInicio{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:22px;

}

.wikiCard{

    background:#101010;

    border:1px solid #444;

    border-radius:8px;

    padding:25px;

}

.wikiCard h2{

    color:#ac0a0a;

    margin-bottom:18px;

}

.wikiCard p{

    color:#e5e5e5;

    line-height:1.8;

    text-align:justify;

}

.wikiCard ul{

    color:white;

    padding-left:22px;

    line-height:2;

}

.wikiCard.imagen{

    display:flex;

    justify-content:center;

    align-items:center;

}

.wikiCard.imagen img{

    width:100%;

    max-width:520px;

}

@media(max-width:900px){

    .gridInicio{

        grid-template-columns:1fr;

    }

}