<footer class="footer">

    <div class="footer-copy">

        © Faustinbros. Este sitio guarda cookies. Todos los derechos reservados

    </div>

    <div class="footer-redes">

        <a
            href="#"
            target="_blank"
            title="Contacto"
        >

            <img
                src="frontend/assets/client.png"
                alt="Contacto"
            >

        </a>

        <a
            href="https://www.facebook.com/people/Faustin-Bros/61586698253645/?locale=es_LA#"
            target="_blank"
            title="Facebook"
        >

            <img
                src="frontend/assets/facebook.webp"
                alt="Facebook"
            >

        </a>

        <a
            href="https://www.instagram.com/byfaustinbros/?hl=en"
            target="_blank"
            title="Instagram"
        >

            <img
                src="frontend/assets/instagram.webp"
                alt="Instagram"
            >

        </a>

        <a
            href="https://www.youtube.com/@funkipow9462"
            target="_blank"
            title="YouTube"
        >

            <img
                src="frontend/assets/youtube.webp"
                alt="YouTube"
            >

        </a>

    </div>

</footer>