<aside class="sidebar">

    <div class="sidebar-logo">

        <img
            src="img/mainLogo.png"
            alt="Funki Punky"
        >

    </div>

    <nav class="sidebar-menu">

        <a
            id="btnInicio"
            href="#"
            class="menu-item activo"
            data-view="inicio">

            <img
                src="img/icons/inicio.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Inicio

            </span>

        </a>

        <a
            id="btnColecciones"
            href="#"
            class="menu-item"
            data-view="colecciones">

            <img
                src="img/icons/colecciones.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Colecciones

            </span>

        </a>

        <a
            id="btnPersonajes"
            href="#"
            class="menu-item"
            data-view="personajes">

            <img
                src="img/icons/personajes.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Personajes

            </span>

        </a>

        <a
            id="btnPerfil"
            href="#"
            class="menu-item"
            data-view="perfil">

            <img
                src="img/icons/perfil.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Mi Perfil

            </span>

        </a>

        <a
            id="btnMiColeccion"
            href="#"
            class="menu-item"
            data-view="mi-coleccion">

            <img
                src="img/icons/miColeccion.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Mi Colección

            </span>

        </a>

        <a
            id="btnAdmin"
            href="#"
            class="menu-item"
            data-view="admin">

            <img
                src="img/icons/admin.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Administración

            </span>

        </a>

    </nav>

    <div class="sidebar-footer">

        <a
            id="btnLogin"
            href="views/login.html"
            class="menu-item">

            <img
                src="img/icons/sesion.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Iniciar Sesión

            </span>

        </a>

        <a
            id="btnLogout"
            href="#"
            class="menu-item">

            <img
                src="img/icons/sesion.png"
                alt=""
                class="menu-icon"
            >

            <span>

                Cerrar Sesión

            </span>

        </a>

    </div>

</aside>