<section class="layout-dos-columnas">

    <section class="heroColecciones">

        <img
            src="frontend/img/heroBanner1.png"
            alt="Panel administrador"
        >

    </section>

    <div class="admin-column">

        <section class="panel">

            <h1>Panel de Personajes</h1>

            <a href="#" class="menu-item menu-admin" data-view="agregar-personaje">
                Agregar personaje
            </a>

            <a href="#" class="menu-item menu-admin" data-view="editar-personaje">
                Editar personaje
            </a>

            <a href="#" class="menu-item menu-admin" data-view="delete-personaje">
                Eliminar personaje
            </a>

        </section>

    </div>

</section>