<div class="layout-dos-columnas">

    <section class="admin-column">
        <div class="panel">
            <h1>Panel de Personajes</h1>
            <a href="#" class="menu-item menu-admin" data-view="agregar-personaje">Agregar personaje</a>
            <a href="#" class="menu-item menu-admin" data-view="editar-personaje">Editar personaje</a>
            <a href="#" class="menu-item menu-admin" data-view="delete-personaje">Eliminar personaje</a>
        </div>

        <div class="panel">
            <h1>Panel de Colecciones</h1>
            <a href="#" class="menu-item menu-admin" data-view="agregar-coleccion">Agregar colección</a>
            <a href="#" class="menu-item menu-admin" data-view="editar-coleccion">Editar colección</a>
            <a href="#" class="menu-item menu-admin" data-view="delete-coleccion">Eliminar colección</a>
        </div> 
    </section>

        <section class="heroColecciones">
            <img src="img/fondo3.jpg">
        </section>


</div>