<section class="agregar-personaje">

    <h2 class="formulario__titulo">

        Agregar personaje

    </h2>

    <form id="formAgregarPersonaje">

        <label for="nombre">

            Nombre

        </label>

        <input
            type="text"
            id="nombre"
            placeholder="Ingrese el nombre del personaje"
            required
        >

        <label for="sub_coleccion_id">

            Subcolección

        </label>

        <select
            id="sub_coleccion_id"
            required
        >

            <option value="">Seleccione una subcolección...</option>

            <option value="1">Base Pinky Pow 2006</option>
            <option value="2">Base Peores Que Nunca</option>
            <option value="3">Base Rebeldes con Causa</option>
            <option value="4">Base Super Heroes</option>
            <option value="5">Base Pinky Pow 2020</option>
            <option value="6">Sub-colección Baby</option>
            <option value="7">Sub-colección X</option>

        </select>

        <label for="tipo_llavero_id">

            Tipo de llavero

        </label>

        <select
            id="tipo_llavero_id"
            required
        >

            <option value="">Seleccione un tipo...</option>

            <option value="1">Llavero 3D</option>
            <option value="2">Colgante 3D</option>
            <option value="3">Colgante Plano</option>
            <option value="4">Fluffy Colgante</option>

        </select>

        <label for="img_personaje">

            Imagen del personaje

        </label>

        <input
            type="file"
            id="img_personaje"
            accept=".png,.jpg,.jpeg"
            required
        >

        <button type="submit">

            Guardar personaje

        </button>

    </form>

</section>