<section class="colecciones">

    <!-- HERO -->

    <section class="heroColecciones">

        <img
            src="img/heroBanner1.png"
            alt="Colecciones Funki Punky"
        >

    </section>

    <!-- SEPARADOR -->

    <div class="lineaSeparadora"></div>

    <!-- CONTENEDOR DE TARJETAS -->

    <section
        id="contenedorColecciones"
        class="contenedorColecciones"
    >

        <!--
            Las tarjetas se generan dinámicamente
            desde colecciones.js
        -->

    </section>

</section>