<section class="layout-dos-columnas">

    <section class="heroColecciones">

        <img
            src="frontend/img/heroBanner1.png"
            alt="Editar personajes"
        >

    </section>

    <div class="admin-column">

        <div class="lineaSeparadora"></div>

        <section class="panel">

            <h1>

                EDITAR PERSONAJES

            </h1>

            <div class="tablaPersonajes">

                <table>

                    <thead>

                        <tr>

                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Colección</th>
                            <th>Tipo</th>
                            <th>Acción</th>

                        </tr>

                    </thead>

                    <tbody id="tablaEditarPersonajes">

                    </tbody>

                </table>

            </div>

        </section>

    </div>

</section>