<section class="editarPersonajes">

    <section class="heroPersonajes">

        <img
            src="img/heroBanner1.png"
            alt="Editar personajes"
        >

    </section>

    <div class="lineaSeparadora"></div>

    <h2>

        EDITAR PERSONAJES

    </h2>

    <div class="tablaPersonajes">

        <table>

            <thead>

                <tr>

                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Colección</th>
                    <th>Tipo</th>
                    <th>Acción</th>

                </tr>

            </thead>

            <tbody id="tablaEditarPersonajes">

            </tbody>

        </table>

    </div>

</section>