<section class="inicioWiki">

    <section class="heroInicio">

        <img
            src="frontend/img/logos/02FunkyLogo.png"
            alt="Funki Punky"
        >

        <h1>Bienvenido a la Wiki de Funki Punky</h1>

        <p>

            Explora la historia, personajes y colecciones de una de las
            franquicias de llaveros coleccionables más recordadas de México.

        </p>

    </section>

    <div class="lineaSeparadora"></div>

    <section class="gridInicio">

        <article class="wikiCard">

            <h2>¿Qué es Funki Punky?</h2>

            <p>

                Los Funki Punky son personajes creados por el estudio argentino Faustin Bros.
                Se hicieron famosos en México en 2006 gracias a la marca de galletas Gamesa (Pepsico), 
                que lanzó una icónica promoción de estampas, llaveros y tazos con personalidades
                "brutalmente honestas" y tiernas a la vez.
                <br>
                La historia de los Funki Punky destacó por
                su estética de animalitos tiernos que contrastaba con su actitud rebelde y contestataria,
                diciendo las verdades sin rodeos. La primera gran colección incluyó stix, tazos y colgantes.
                Más tarde, para series como "Super Funky Punky", se lanzó un lore más profundo donde los personajes
                adquirían poderes mediocres y se contaban historias sobre su vida diaria en comerciales animados.
                <br>
                Entre los personajes más destacados y reconocibles de las colecciones se encontraban Sultan, Nuts,
                Kato, Sniffie, Skycat y Lennie, muchos de ellos basados en animales como gatos, mapaches, conejos y ratones.

            </p>

        </article>

        <article class="wikiCard imagen">

            <img src="frontend/img/bannerInicio.jpg" alt="Banner Inicio">

        </article>

        <article class="wikiCard">

            <h2>Propósito de la Wiki</h2>

                <p>

                    Su objetivo es facilitar la consulta de información tanto para
                    coleccionistas como para cualquier persona interesada en conocer la
                    historia y evolución de la franquicia, permitiendo explorar su
                    contenido de una forma sencilla y organizada.

                </p>

                <p>

                    Con el tiempo, este catálogo puede ampliarse con nuevas imágenes,
                    curiosidades y registros para conservar la mayor cantidad de
                    información posible sobre el universo de <strong>Funki Punky</strong>.

                </p>

        </article>

        <article class="wikiCard">

            <h2>Esta Wiki tiene...</h2>

            <ul>

                <li>Más de 70 personajes.</li>

                <li>Varias subcolecciones especiales.</li>

                <li>Ediciones limitadas.</li>

                <li>Galería de personajes.</li>

            </ul>

        </article>

    </section>

    <div class="lineaSeparadora"></div>

    <section class="wikiCard">

        <h2>¿Cómo comenzar?</h2>

        <p>

            Utiliza el menú lateral para explorar las colecciones oficiales,
            consultar la información de cada personaje y descubrir datos
            históricos sobre la franquicia.

        </p>

    </section>

</section>
