<div class="contenedorPrincipal">
    <section class="perfil">

        <h3 class="perfil__titulo">¿Qué son los Funki Punky?</h3>
        <div class="perfil__informacionContexto">
            <article class="perfil__descripcionFranquicia">
                <p>
                    Los Funki Punky son una de las franquicias de productos promocionales más populares dentro de la cultura pop de los años 2000 en México. Consisten principalmente en coleccionables como figuras 3D, tazos, stickers y llaveros que originalmente eran distribuidos por empresas como Gamesa, Sabritas y Vualá.
                </p>
            </article>

            <article class="perfil__propositoProyecto">
                <h3 class="perfil__subtitulo">Propósito de la página</h3>
                <p>
                    Debido a la eliminación de Adobe Flash Player y a la falta de un registro centralizado, la información de la franquicia quedó fragmentada en blogs antiguos, wikis comunitarias sin mantenimiento y videos resubidos por fans. Como consecuencia, gran parte de su contenido de marketing se perdió.
                </p>
                <p>
                    Esta página nace con el objetivo principal de preservar, digitalizar y centralizar el legado de estas colecciones, enfocándose principalmente en las figuras 3D. Así, ofrecemos a la comunidad de fans y coleccionistas una plataforma abierta de consulta de datos y una función especial para coleccionistas que les permite tener un apartado de su colección personal. 
                </p>
            </article>

            <div class="perfil__contenedorVideo">
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/XysXdm_ChSY?si=qVXkV_dfTjiNIHZ4" 
                    title="Comercial Retro Funki Punky" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe> 
            </div>
        </div>
    </section>
</div>